<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hotel Legned - Best experience ever</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- LOAD CSS FILES -->
    <link href="../../../static/css/main.css" rel="stylesheet" type="text/css">
    
    <!-- LOAD JS FILES -->
    <script src="../../../static/js/jquery.min.js"></script>
    <script src="../../../static/js/bootstrap.min.js"></script>
    <script src="../../../static/js/jquery.isotope.min.js"></script>
    <script src="../../../static/js/jquery.prettyPhoto.js"></script>
    <script src="../../../static/js/easing.js"></script>
    <script src="../../../static/js/jquery.lazyload.js"></script>
    <script src="../../../static/js/jquery.ui.totop.js"></script>
    <script src="../../../static/js/selectnav.js"></script>
    <script src="../../../static/js/ender.js"></script>
    <script src="../../../static/js/custom.js"></script>
    <script src="../../../static/js/responsiveslides.min.js"></script>
</head>

<body>
	<!-- header begin -->
	<header>
        	{% include "Sunshine/html/partials/header.html" %}
    </header>
	<!-- header close -->
    
    <!-- subheader begin -->
	<div id="subheader">
    	<div class="container">
    	  <div class="row">
          	<div class="span12 slogan">
            	<h1>Gallery</h1>
                <span>This is custom slogan for each page.</span>
            </div>
          </div>
    	</div>
    </div>
	<!-- subheader close -->  
    
	<!-- content begin -->
    <div id="content">
    	<div class="container">
        	<div class="row">
            	<div class="span12">
                	<ul id="filters">
                      <li><a href="#" data-filter="*" class="selected">show all</a></li>
                      <li><a href="#" data-filter=".event">event</a></li>
                      <li><a href="#" data-filter=".holiday">holiday</a></li>
                      <li><a href="#" data-filter=".room">room</a></li>
                      <li><a href="#" data-filter=".promotion">promotion</a></li>
                      <li><a href="#" data-filter=".facility">facility</a></li>
                    </ul>

                </div>
            </div>
        	<div class="row">            	
            	<div id="gallery" class="gallery">
                	
                    <!-- <h4>Gallery item -->	
                	<div class="span3 item promotion event">
                    <a class="preview" href="../../../static/img/gallery/ceremony-1.jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/gallery/ceremony-1.jpg" data-original="img/gallery/ceremony-1.jpg" alt="">
                    </a>
                	<h4>Gallery item 3</h4>
                    <span>September 16, 2013</span>
                    </div>
                    <!-- close <h4>Gallery item -->
                    
                    <!-- <h4>Gallery item -->	
                	<div class="span3 item promotion event">
                    <a class="preview" href="../../../static/img/gallery/ceremony-2.jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/gallery/ceremony-2.jpg" data-original="img/gallery/ceremony-2.jpg" alt="">
                    </a>
                	<h4>Gallery item 3</h4>
                    <span>September 16, 2013</span>
                    </div>

                    <!-- <h4>Gallery item -->	
                	<div class="span3 item promotion event">
                    <a class="preview" href="../../../static/img/gallery/ceremony-3.jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/gallery/ceremony-3.jpg" data-original="img/gallery/ceremony-3.jpg" alt="">
                    </a>
                	<h4>Gallery item 3</h4>
                    <span>September 16, 2013</span>
                    </div>
                    <!-- close <h4>Gallery item -->

                    <!-- <h4>Gallery item -->	
                	<div class="span3 item promotion event">
                    <a class="preview" href="../../../static/img/gallery/wating.jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/gallery/wating.jpg" data-original="img/gallery/wating.jpg" alt="">
                    </a>
                	<h4>Gallery item 5</h4>
                    <span>September 16, 2013</span>
                    </div>
                    <!-- close <h4>Gallery item -->

                    <!-- <h4>Gallery item -->	
                	<div class="span3 item event">
                    <a class="preview" href="../../../static/img/gallery/makeup-1.jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/gallery/makeup-1.jpg" data-original="img/gallery/makeup-1.jpg" alt="">
                    </a>
                	<h4>Gallery item 4</h4>
                    <span>September 16, 2013</span>
                    </div>
                    <!-- close <h4>Gallery item -->
                    
                    
                    <!-- <h4>Gallery item -->	
                	<div class="span3 item event">
                    <a class="preview" href="../../../static/img/gallery/wedding-1.jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/gallery/wedding-1.jpg" data-original="img/gallery/wedding-1.jpg" alt="">
                    </a>
                	<h4>Gallery item 9</h4>
                    <span>September 16, 2013</span>
                    </div>
                    <!-- close <h4>Gallery item -->
                    
                    <!-- <h4>Gallery item -->	
                	<div class="span3 item event room">
                    <a class="preview" href="../../../static/img/gallery/makeup-2.jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/gallery/makeup-2.jpg" data-original="img/gallery/makeup-2.jpg" alt="">
                    </a>
                	<h4>Gallery item 7</h4>
                    <span>September 16, 2013</span>
                    </div>
                    <!-- close <h4>Gallery item -->
                    

                    <!-- <h4>Gallery item -->	
                	<div class="span3 item facility">
                    <a class="preview" href="../../../static/img/gallery/trainning-1.jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/gallery/trainning-1.jpg" data-original="img/gallery/trainning-1.jpg" alt="">
                    </a>
                	<h4>Gallery item 9</h4>
                    <span>September 16, 2013</span>
                    </div>
                    <!-- close <h4>Gallery item -->

                    <!-- <h4>Gallery item -->	
                	<div class="span3 item room">
                    <a class="preview" href="../../../static/img/gallery/sauna.jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/gallery/sauna.jpg" data-original="img/gallery/sauna.jpg" alt="">
                    </a>
                	<h4>Gallery item 8</h4>
                    <span>September 16, 2013</span>
                    </div>
                    <!-- close <h4>Gallery item -->

                    <!-- <h4>Gallery item -->	
                	<div class="span3 item room">
                    <a class="preview" href="../../../static/img/gallery/cafe.jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/gallery/cafe.jpg" data-original="img/gallery/cafe.jpg" alt="">
                    </a>
                	<h4>Gallery item 8</h4>
                    <span>September 16, 2013</span>
                    </div>
                    <!-- close <h4>Gallery item -->

                    <!-- <h4>Gallery item -->	
                	<div class="span3 item room">
                    <a class="preview" href="../../../static/img/gallery/restaurant-1.jpg" rel="prettyPhoto" title="Your Title">
               	    	<img src="../../../static/img/gallery/restaurant-1.jpg" data-original="img/gallery/restaurant-1.jpg" alt="">
                    </a>
                	<h4>Gallery item 8</h4>
                    <span>September 16, 2013</span>
                    </div>
                    <!-- close <h4>Gallery item -->

                </div>
            </div>
        </div>
    </div>
	<!-- content close -->
    
<!-- footer begin -->
{% include "Sunshine/html/partials/footer.html" %}
<!-- footer close -->
   
</body>
</html>

