<!DOCTYPE html>
{% load i18n %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hotel Legend - Best experience ever</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- LOAD CSS FILES -->
  <link href="../../../static/css/main.css" rel="stylesheet" type="text/css">
  <link href="../../../static/css/popup.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../../../static/css/jquery.nailthumb.1.1.min.css">

  <!-- LOAD JS FILES -->
  <script src="../../../static/js/jquery.min.js"></script>
  <script src="../../../static/js/bootstrap.min.js"></script>
  <script src="../../../static/js/jquery.isotope.min.js"></script>
  <script src="../../../static/js/jquery.prettyPhoto.js"></script>
  <script src="../../../static/js/easing.js"></script>
  <script src="../../../static/js/jquery.lazyload.js"></script>
  <script src="../../../static/js/jquery.ui.totop.js"></script>
  <script src="../../../static/js/selectnav.js"></script>
  <script src="../../../static/js/ender.js"></script>
  <script src="../../../static/js/custom.js"></script>
  <script src="../../../static/js/responsiveslides.min.js"></script>
  <script src="../../../static/js/datepickr.js"></script>
  <script src="../../../static/js/jquery.nailthumb.1.1.min.js"></script>

  <script>


//    // popup function 을 실행
//    if(window.attachEvent) {
//        window.attachEvent('onload', popups);
//    } else {
//        if(window.onload) {
//            var curronload = window.onload;
//            var newonload = function(evt) {
//                curronload(evt);
//                yourFunctionName(evt);
//            };
//            window.onload = newonload;
//        } else {
//            window.onload = popups;
//        }
//    }
//
//
//    function pop(name,i){
//	window.open("../../../static/img/room/"+name,i.toString(),"scrollbars=no,toolbar=no,location=no,directories=no,noresize");
//    }
//
//    // cookie 를 확인 후 팝업을 하나씩 띄움
//    function popups()
//    {
//        var xmlHttp = new XMLHttpRequest();
//        xmlHttp.open( "GET", "/popup", false ); // false for synchronous request
//        xmlHttp.send( null );
//        var popup = xmlHttp.responseText;
//	var popups = popup.split(" ");
//
//	for(i=0;i<popups.length-1;i++){
//		var result = getCookie('popup0520');
//		if (result == 'end') {
//		   return false;
//		}
//		else {
//    		   setTimeout(pop(popups[i], i), 1000);
//    		   setTimeout(pop(popups[i+1], i), 1500);
//		}
//		break;
//	}
//    }
//
//    // Get cookie function
//    function getCookie(name) {
//       var cookieName = name + "=";
//       var x = 0;
//       while ( x <= document.cookie.length ) {
//          var y = (x+cookieName.length);
//          if ( document.cookie.substring( x, y ) == cookieName) {
//             if ((lastChrCookie=document.cookie.indexOf(";", y)) == -1)
//                lastChrCookie = document.cookie.length;
//             return decodeURI(document.cookie.substring(y, lastChrCookie));
//          }
//          x = document.cookie.indexOf(" ", x ) + 1;
//          if ( x == 0 )
//             break;
//          }
//       return "";
//    }
//
//    /* setCookie function */
//    function setCookie(cname, value, expire) {
//       var todayValue = new Date();
//       // 오늘 날짜를 변수에 저장
//    
//       todayValue.setDate(todayValue.getDate() + expire);
//       document.cookie = cname + "=" + encodeURI(value) + "; expires=" + todayValue.toGMTString() + "; path=/;";
//    }
//
//    // 하루동안 안열기 쿠키 저장
//    $(function() {
//       var closeTodayBtn = $('.closeTodayBtn');
//       // 버튼의 클래스명은 closeTodayBtn
//    
//       closeTodayBtn.click(function() {
//          setCookie( "popup20150530", "end" , 1);
//          // 하루동안이므로 1을 설정
//          window.close();
//          // 현재 열려있는 팝업은 닫으면서 쿠키값을 저장
//       });
//    });
    
    jQuery(function() {
      new datepickr('checkin', { 'dateFormat': 'y/m/d' });
    });
    jQuery(function() {
      new datepickr('checkout', { 'dateFormat': 'y/m/d' });
    });
  </script>
</head>

<body>
<!-- header begin -->
<header>
  {% include "Sunshine/html/partials/header.html" %}
</header>
<!-- header close -->


<!-- slider -->
<!--<div class = "container">--> 
<div class="slider-new">
  <div class="callbacks_container">
    <ul class="rslides pic_slider">
      <li>
        <img src="../../../static/img/index/slider1.jpg" alt="">
      </li>
      <li>
        <img src="../../../static/img/index/slider2.jpg" alt="">
      </li>
      <li>
        <img src="../../../static/img/index/slider3.jpg" alt="">
      </li>
    </ul>
  </div>
</div>
<!-- slider close -->

<div class="clearfix"></div>
<!-- search begin -->
  <div id="booking">
    <div class="container">
      <span class="span2" style="text-align: center;">Booking Now :</span>
      <form class="form-inline" method="get" action="{% url 'booking' %}">
        <div class="span2">
          <input type="text" id="checkin" name="checkInDate" value="체크인 날짜">
        </div>
        <div class="span2">
          <input type="text" id="checkout" name="checkOutDate" value="체크아웃 날짜">
        </div>
        <div class="span2">
          <select name="room">
            <option>객실 종류 선택</option>
            {% for room in rooms %}
            <option value="{{ room.type }}">{{ room.type }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="span2">
          <select name="numberOfPeople">
            <option value="-1">인원 수 선택</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">5+</option>
          </select>
        </div>
        <div class="span2">
          <input type="submit" class="btn btn-primary btn-submit" value="빠른예약하기">
        </div>
      </form>
    </div>
  </div>
<!-- search close -->

<!-- content begin -->
<div id="content">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2 style="font-weight: 500;padding-bottom: 10px;">{% trans "추천 객실" %}</h2>
        {% trans "편안하고 안락한 객실이 준비되어 있습니다" %}<br><br>
      </div>

      <!-- room -->
      <div class="room span4">
        <div class="btn-book-container">
          <a href="#" class="btn-book">지금 바로 예약하기</a>
        </div>
        <img data-original="img/room-1.jpg" src="../../../static/img/room/suite1.jpg" class="img-polaroid" alt="">
        <h4>{% trans "스위트 (양실)" %}</h4>
        <div class="description">
                  {% trans "고급스러운 실내장식과 여유로운 공간구성을 통하여 고객님이 최대한 여유롭고 편안히 쉴 수 있는 공간으로, 고급스러움이 고객님의 품격을 높혀드립니다." %}
                	</div>
        <div class="row">
          <ul class="room-features">
            <li class="span2"><i class="icon-check-sign"></i>킹사이즈 베드</li>
            <li class="span2"><i class="icon-check-sign"></i>넓은 실내 공간</li>
            <li class="span2"><i class="icon-check-sign"></i>WIFI와 대형HDTV</li>
            <li class="span2"><i class="icon-check-sign"></i>천연온천수 제공</li>
          </ul>
        </div>
      </div>
      <!-- close room -->

      <!-- room -->
      <div class="room span4">
        <div class="btn-book-container">
          <a href="#" class="btn-book">지금 바로 예약하기</a>
        </div>
        <img data-original="img/room-2.jpg" src="../../../static/img/room/korean_suite1.jpg" class="img-polaroid" alt="">
        <h4>{% trans "스위트 (한실)" %}</h4>
        <div class="description">
                  {% trans "우리나라 고유의 전통적인 멋과 현대적 장식이 어우러진 넉넉한 공간을 통하여 내집 같은 포근함을 경험할 수 있는 베란다를 갖추고 있는 객실입니다." %}
                	</div>
        <div class="row">
          <ul class="room-features">
            <li class="span2"><i class="icon-check-sign"></i>전통적인 온돌</li>
            <li class="span2"><i class="icon-check-sign"></i>넓은 실내 공간</li>
            <li class="span2"><i class="icon-check-sign"></i>WIFI와 대형HDTV</li>
            <li class="span2"><i class="icon-check-sign"></i>천연온천수 제공</li>
          </ul>
        </div>
      </div>
      <!-- close room -->


      <!-- room -->
      <div class="room span4">
        <div class="btn-book-container">
          <a href="#" class="btn-book">지금 바로 예약하기</a>
        </div>
        <img data-original="img/room-3.jpg" src="../../../static/img/room/double_ondol1.jpg" class="img-polaroid" alt="">
        <h4>{% trans "디럭스 (더블온돌)" %}</h4>
        <div class="description">
{% trans " 우리고유의 전통적인 멋과 현대적 장식이 어우러진 내집 같은 포근함을 경험할 수 있는 온돌 객실에 더블침대를 갖추고 있는 객실입니다." %}

        </div>
        <div class="row">
          <ul class="room-features">
            <li class="span2"><i class="icon-check-sign"></i>더블 베드</li>
            <li class="span2"><i class="icon-check-sign"></i>넓은 실내 공간</li>
            <li class="span2"><i class="icon-check-sign"></i>WIFI와 대형HDTV</li>
            <li class="span2"><i class="icon-check-sign"></i>천연온천수 제공</li>
          </ul>
        </div>

      </div>
      <!-- close room -->


    </div>

    <hr>

    <div class="row gallery">
      <div class="text-center">
        <h2 style="font-weight: 500; padding-bottom: 10px;">{% trans "갤러리" %}</h2>
        {% trans "레전드 호텔에는 다양한 시설들이 있습니다" %}<br><br>
      </div>

      <div class="span2">
        <a class="preview" href="../../../static/img/facilities/wedding_hall.jpg" rel="prettyPhoto" title="웨딩 홀">
          <img data-original="img/facilities/wedding_hall.jpg" src="../../../static/img/facilities/wedding_hall.jpg" class="img-polaroid" alt="">
        </a>
      </div>

      <div class="span2">
        <a class="preview" href="../../../static/img/facilities/sauna.jpg" rel="prettyPhoto" title="온천">
          <img data-original="img/facilities/sauna.jpg" src="../../../static/img/facilities/sauna.jpg" class="img-polaroid" alt="">
        </a>
      </div>

      <div class="span2">
        <a class="preview" href="../../../static/img/facilities/restaurant-4.jpg" rel="prettyPhoto" title="부연부 레스토랑">
          <img data-original="img/facilities/restaurant-4.jpg" src="../../../static/img/facilities/restaurant-4.jpg" class="img-polaroid" alt="">
        </a>
      </div>


      <div class="span2">
        <a class="preview" href="../../../static/img/facilities/restaurant-3.jpg" rel="prettyPhoto" title="부연부 레스토랑">
          <img data-original="img/facilities/restaurant-3.jpg" src="../../../static/img/facilities/restaurant-3.jpg" class="img-polaroid" alt="">
        </a>
      </div>

      <div class="span2">
        <a class="preview" href="../../../static/img/facilities/wating.jpg" rel="prettyPhoto" title="메리스퀘어 라운지">
          <img data-original="img/facilities/wating.jpg" src="../../../static/img/facilities/wating.jpg" class="img-polaroid" alt="">
        </a>
      </div>

      <div class="span2">
        <a class="preview" href="../../../static/img/facilities/cafe.jpg" rel="prettyPhoto" title="카페">
          <img data-original="img/gallery/pic%20(4).jpg" src="../../../static/img/facilities/cafe.jpg" class="img-polaroid" alt="">
        </a>
      </div>


    </div>

<!--
    <hr>


    <div class="row">
      <div class="span3 feature">
        <i class="icon-desktop icon-3x"></i><br>
        <h4>Modern</h4>
	질량의 크기는 부피와 비례하지 않는다
      </div>

      <div class="span3 feature">
        <i class="icon-calendar icon-3x"></i><br>
        <h4>Responsive</h4>
	제비꽃같이 조그마한 그 계집애가
	꽃잎같이 하늘거리는 그 계집애가
	쿵 소리를 내며, 쿵쿵 소리를 내며
      </div>

      <div class="span3 feature">
        <i class="icon-circle-arrow-right icon-3x"></i><br>
        <h4>Hotel</h4>
	지구보다 더 큰 질량으로 나를 끌어당긴다.
	순간, 나는
	뉴턴의 사과처럼
	사정없이 그녀에게로 굴러 떨어졌다
      </div>

      <div class="span3 feature">
        <i class="icon-thumbs-up icon-3x"></i><br>
        <h4>Template</h4>
	심장이
	하늘에서 땅까지 아찔한 진자운동을 계속하였다
	첫사랑이었다.
      </div>
   </div> -->

  </div>
</div>
<!-- content close -->

<!-- footer begin -->
{% include "Sunshine/html/partials/footer.html" %}
<!-- footer close -->



</body>
</html>
